<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Admin_coresta</display-name>
  <welcome-file-list>
    <welcome-file>home_page.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin_login</display-name>
    <servlet-name>Admin_login</servlet-name>
    <servlet-class>Admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_login</servlet-name>
    <url-pattern>/Admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_teacher_2</display-name>
    <servlet-name>add_teacher_2</servlet-name>
    <servlet-class>add_teacher_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_teacher_2</servlet-name>
    <url-pattern>/add_teacher_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_student_2</display-name>
    <servlet-name>add_student_2</servlet-name>
    <servlet-class>add_student_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_student_2</servlet-name>
    <url-pattern>/add_student_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hod_add_student_2</display-name>
    <servlet-name>hod_add_student_2</servlet-name>
    <servlet-class>hod_add_student_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hod_add_student_2</servlet-name>
    <url-pattern>/hod_add_student_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_semester_2</display-name>
    <servlet-name>add_semester_2</servlet-name>
    <servlet-class>add_semester_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_semester_2</servlet-name>
    <url-pattern>/add_semester_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_subject_2</display-name>
    <servlet-name>add_subject_2</servlet-name>
    <servlet-class>add_subject_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_subject_2</servlet-name>
    <url-pattern>/add_subject_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>change_password_2</display-name>
    <servlet-name>change_password_2</servlet-name>
    <servlet-class>change_password_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>change_password_2</servlet-name>
    <url-pattern>/change_password_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teacher_change_password_2</display-name>
    <servlet-name>teacher_change_password_2</servlet-name>
    <servlet-class>teacher_change_password_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacher_change_password_2</servlet-name>
    <url-pattern>/teacher_change_password_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_3</display-name>
    <servlet-name>delete_3</servlet-name>
    <servlet-class>delete_3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_3</servlet-name>
    <url-pattern>/delete_3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>subject_edit</display-name>
    <servlet-name>subject_edit</servlet-name>
    <servlet-class>subject_edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subject_edit</servlet-name>
    <url-pattern>/subject_edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>subject_delete</display-name>
    <servlet-name>subject_delete</servlet-name>
    <servlet-class>subject_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subject_delete</servlet-name>
    <url-pattern>/subject_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edit</display-name>
    <servlet-name>edit</servlet-name>
    <servlet-class>edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forget_password_2</display-name>
    <servlet-name>forget_password_2</servlet-name>
    <servlet-class>forget_password_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forget_password_2</servlet-name>
    <url-pattern>/forget_password_2/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>attendance_3</display-name>
		<servlet-name>attendance_3</servlet-name>
		<servlet-class>attendance_3</servlet-class>
  </servlet>
  <servlet>
		<description>
		</description>
		<display-name>Calculate</display-name>
		<servlet-name>Calculate</servlet-name>
		<servlet-class>Calculate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>attendance_3</servlet-name>
		<url-pattern>/attendance_3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Calculate</servlet-name>
		<url-pattern>/Calculate</url-pattern>
	</servlet-mapping>
</web-app>