body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #151515;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 .col-1, #LayoutGrid1 .col-2, #LayoutGrid1 .col-3, #LayoutGrid1 .col-4
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1
{
}
#LayoutGrid1 .col-1, #LayoutGrid1 .col-2, #LayoutGrid1 .col-3, #LayoutGrid1 .col-4
{
   float: left;
}
#LayoutGrid1 .col-1
{
   width: 25%;
   text-align: left;
}
#LayoutGrid1 .col-2
{
   width: 41.66666667%;
   text-align: center;
}
#LayoutGrid1 .col-3
{
   width: 16.66666667%;
   text-align: center;
}
#LayoutGrid1 .col-4
{
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 .col-1, #LayoutGrid1 .col-2, #LayoutGrid1 .col-3, #LayoutGrid1 .col-4
{
   float: none;
   width: 100%;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 6px 0px 0px 90px;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 16px 0px 0px 0px;
   text-align: right;
}
#wb_Text2 div
{
   text-align: right;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 15px 0px 15px 0px;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: bold;
   font-size: 16px;
   margin: 0;
   text-align: left;
}
#Heading1 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid3
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 90px 15px 90px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3
{
}
#LayoutGrid3 .col-1
{
   float: left;
}
#LayoutGrid3 .col-1
{
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#LayoutGrid3 .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#Line2
{
   color: #FFFFFF;
   background-color: #FFFFFF;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#wb_FontAwesomeIcon1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #00BFFF solid;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   text-align: center;
   padding: 30px 30px 30px 30px;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #FFFFFF solid;
}
#FontAwesomeIcon1
{
   height: 63px;
   width: 61px;
}
#FontAwesomeIcon1 i
{
   color: #00BFFF;
   display: inline-block;
   font-size: 61px;
   line-height: 63px;
   vertical-align: middle;
   width: 49px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #FFFFFF;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #EEE8AA;
   background-image: url(images/PaintSquares_1920x1234.jpg);
   background-repeat: no-repeat;
   background-position: left top;
   background-attachment: fixed;
   background-position: 50% 0;
   background-size: cover;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 10px 0px 0px 0px;
}
#LayoutGrid2
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 130px 15px 80px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 .col-1, #LayoutGrid2 .col-2, #LayoutGrid2 .col-3, #LayoutGrid2 .col-4
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2
{
}
#LayoutGrid2 .col-1, #LayoutGrid2 .col-2, #LayoutGrid2 .col-3, #LayoutGrid2 .col-4
{
   float: left;
}
#LayoutGrid2 .col-1
{
   width: 25%;
   text-align: center;
}
#LayoutGrid2 .col-2
{
   width: 25%;
   text-align: center;
}
#LayoutGrid2 .col-3
{
   width: 25%;
   text-align: center;
}
#LayoutGrid2 .col-4
{
   width: 25%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 .col-1, #LayoutGrid2 .col-2, #LayoutGrid2 .col-3, #LayoutGrid2 .col-4
{
   float: none;
   width: 100%;
}
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 18px 0px 0px 0px;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3:hover
{
   text-shadow: 3px 3px 5px #00300F;
   -webkit-transition: text-shadow 500ms ease-in-out 0ms;
   -moz-transition: text-shadow 500ms ease-in-out 0ms;
   transition: text-shadow 500ms ease-in-out 0ms;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text4:hover
{
   text-shadow: 3px 3px 5px #00300F;
   -webkit-transition: text-shadow 500ms ease-in-out 0ms;
   -moz-transition: text-shadow 500ms ease-in-out 0ms;
   transition: text-shadow 500ms ease-in-out 0ms;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 18px 0px 0px 0px;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_Text7:hover
{
   text-shadow: 3px 3px 5px #00300F;
   -webkit-transition: text-shadow 500ms ease-in-out 0ms;
   -moz-transition: text-shadow 500ms ease-in-out 0ms;
   transition: text-shadow 500ms ease-in-out 0ms;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Text6:hover
{
   text-shadow: 3px 3px 5px #00300F;
   -webkit-transition: text-shadow 500ms ease-in-out 0ms;
   -moz-transition: text-shadow 500ms ease-in-out 0ms;
   transition: text-shadow 500ms ease-in-out 0ms;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 18px 0px 0px 0px;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Text5:hover
{
   text-shadow: 3px 3px 5px #00300F;
   -webkit-transition: text-shadow 500ms linear 0ms;
   -moz-transition: text-shadow 500ms linear 0ms;
   transition: text-shadow 500ms linear 0ms;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_Text8:hover
{
   text-shadow: 3px 3px 5px #00300F;
   -webkit-transition: text-shadow 500ms linear 0ms;
   -moz-transition: text-shadow 500ms linear 0ms;
   transition: text-shadow 500ms linear 0ms;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 18px 0px 0px 0px;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#wb_Text9:hover
{
   text-shadow: 3px 3px 5px #00300F;
   -webkit-transition: text-shadow 500ms linear 0ms;
   -moz-transition: text-shadow 500ms linear 0ms;
   transition: text-shadow 500ms linear 0ms;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text10 div
{
   text-align: center;
}
#wb_Text10:hover
{
   text-shadow: 3px 3px 5px #00300F;
   -webkit-transition: text-shadow 500ms linear 0ms;
   -moz-transition: text-shadow 500ms linear 0ms;
   transition: text-shadow 500ms linear 0ms;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #3C3C3C;
   background-image: none;
   border: 0px #3C3C3C solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid7
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7
{
}
#LayoutGrid7 .col-1
{
   float: left;
}
#LayoutGrid7 .col-1
{
   width: 100%;
   text-align: center;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#LayoutGrid7 .col-1
{
   float: none;
   width: 100%;
}
}
#Line6
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #3C3C3C;
   background-image: none;
   border: 0px #3C3C3C solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid4
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 .col-1, #LayoutGrid4 .col-2, #LayoutGrid4 .col-3
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4
{
}
#LayoutGrid4 .col-1, #LayoutGrid4 .col-2, #LayoutGrid4 .col-3
{
   float: left;
}
#LayoutGrid4 .col-1
{
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid4 .col-2
{
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid4 .col-3
{
   width: 33.33333333%;
   text-align: right;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#LayoutGrid4 .col-1, #LayoutGrid4 .col-2, #LayoutGrid4 .col-3
{
   float: none;
   width: 100%;
}
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 15px 15px 15px 15px;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#Editbox2
{
   border: 0px #CCCCCC solid;
   background-color: #252525;
   background-image: none;
   color :#F5F5F5;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 15px 0px 15px 0px;
   text-align: left;
   vertical-align: middle;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#TextArea2
{
   border: 0px #CCCCCC solid;
   background-color: #252525;
   background-image: none;
   color :#9C9C9C;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 15px 0px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea2:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button2
{
   border: 0px #2E6DA4 solid;
   background-color: #F97352;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0px 0px 15px 0px;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 10px #3C3C3C solid;
   padding: 0px 0px 0px 0px;
   display: block;
   width: 100%;
   height: auto;
   max-width: 440px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Image2:hover
{
   opacity: 0.7;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#Image2
{
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #3C3C3C;
   background-image: none;
   border: 0px #3C3C3C solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid5
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5
{
}
#LayoutGrid5 .col-1
{
   float: left;
}
#LayoutGrid5 .col-1
{
   width: 100%;
   text-align: center;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#LayoutGrid5 .col-1
{
   float: none;
   width: 100%;
}
}
#Line3
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 15px 0px 10px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text12 div
{
   text-align: center;
}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   display: block;
   text-align: center;
   vertical-align: middle;
}
#wb_PanelMenu1
{
   margin: 8px 0px 0px 0px;
}
#PanelMenu1_markup
{
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li a, #PanelMenu1_markup li a:hover, #PanelMenu1_markup li .active
{
   padding: 10px 10px 10px 10px;
   border-width: 0;
   border-bottom-width: 1px;
   border-radius: 0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}
#PanelMenu1_panel
{
   display: none;
   position: absolute;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   color: #00BFFF;
   border: 1px #2E2E2E solid;
   background-color: #151515;
   font-family: Arial;
   font-weight: normal;
   font-size: 17px;
   font-style: normal;
   text-decoration: none;
}
#wb_PanelMenu1 a:hover, #PanelMenu1_markup li a:hover, #PanelMenu1_markup li .active
{
   color: #FFFFFF;
   background-color: #00BFFF;
   border: 1px #00BFFF solid;
}
#PanelMenu1_panel
{
   background-color: #151515;
   overflow-y: auto;
}
#PanelMenu1
{
   line-height: 28px;
   width: 88px;
   height: 28px;
   position: absolute;
}
#PanelMenu1_markup ul li i
{
   font-size: 17px;
   padding: 0px 10px 0px 0px;
   vertical-align: middle;
   width: 17px;
}
#PanelMenu1_markup span
{
   display: inline-block;
   height: 17px;
   vertical-align: middle;
   line-height: 17px;
}
